[submodule ".vim/pack/browse/start/nerdtree"]
	path = .vim/pack/browse/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/utils/start/vim-fugitive"]
	path = .vim/pack/utils/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/utils/start/vim-gitgutter"]
	path = .vim/pack/utils/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/browse/start/nerdtree-git-plugin"]
	path = .vim/pack/browse/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/pack/browse/start/vim-nerdtree-tabs"]
	path = .vim/pack/browse/start/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/pack/utils/start/rust.vim"]
	path = .vim/pack/utils/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/pack/browse/start/winresizer"]
	path = .vim/pack/browse/start/winresizer
	url = https://github.com/simeji/winresizer.git
[submodule ".vim/pack/utils/start/vim-airline"]
	path = .vim/pack/utils/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/utils/start/vim-gutentags"]
	path = .vim/pack/utils/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule ".vim/pack/browse/start/tagbar"]
	path = .vim/pack/browse/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/pack/utils/start/vim-airline-themes"]
	path = .vim/pack/utils/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/pack/browse/start/fzf.vim"]
	path = .vim/pack/browse/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".vim/pack/syntax/start/ale"]
	path = .vim/pack/syntax/start/ale
	url = https://github.com/w0rp/ale.git
[submodule ".vim/pack/utils/start/nvim-yarp.git"]
	path = .vim/pack/utils/start/nvim-yarp.git
	url = https://github.com/roxma/nvim-yarp.git
[submodule ".vim/pack/utils/start/vim-hug-neovim-rpc.git"]
	path = .vim/pack/utils/start/vim-hug-neovim-rpc.git
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule ".vim/pack/completion/start/neosnippet.vim"]
	path = .vim/pack/completion/start/neosnippet.vim
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule ".vim/pack/completion/start/neosnippet-snippets"]
	path = .vim/pack/completion/start/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule ".pyenv"]
	path = .pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule ".goenv"]
	path = .goenv
	url = https://github.com/syndbg/goenv.git
[submodule ".vim/pack/utils/start/vim-go.git"]
	path = .vim/pack/utils/start/vim-go.git
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/pack/utils/start/async.vim"]
	path = .vim/pack/utils/start/async.vim
	url = https://github.com/prabirshrestha/async.vim
[submodule ".vim/pack/completion/start/vim-lsp"]
	path = .vim/pack/completion/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule ".vim/pack/utils/start/vim-lsp-settings"]
	path = .vim/pack/utils/start/vim-lsp-settings
	url = https://github.com/mattn/vim-lsp-settings
[submodule ".vim/pack/completion/start/vim-lsp-neosnippet"]
	path = .vim/pack/completion/start/vim-lsp-neosnippet
	url = https://github.com/thomasfaingnaert/vim-lsp-neosnippet
[submodule ".vim/pack/completion/start/vim-lsp-snippets"]
	path = .vim/pack/completion/start/vim-lsp-snippets
	url = https://github.com/thomasfaingnaert/vim-lsp-snippets
[submodule ".vim/pack/completion/start/asyncomplete.vim"]
	path = .vim/pack/completion/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule ".vim/pack/completion/start/asyncomplete-lsp.vim"]
	path = .vim/pack/completion/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
