[submodule ".vim/pack/browse/start/nerdtree"]
	path = .vim/pack/browse/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/utils/start/vim-fugitive"]
	path = .vim/pack/utils/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/utils/start/vim-gitgutter"]
	path = .vim/pack/utils/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/browse/start/nerdtree-git-plugin"]
	path = .vim/pack/browse/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/pack/browse/start/vim-nerdtree-tabs"]
	path = .vim/pack/browse/start/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/pack/completion/opt/vim-clang"]
	path = .vim/pack/completion/opt/vim-clang
	url = https://github.com/justmao945/vim-clang.git
