[submodule ".vim/pack/browse/start/nerdtree"]
	path = .vim/pack/browse/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/tools/start/vim-fugitive"]
	path = .vim/pack/tools/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
